/***********************
 * DEFAULT REST SECTION *
 **********************/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*************
 * VARIABLES *
 *************/

:root {
    /* ### Primary  */
    --BrightBlue: #3a7bfd;
    --bg: #fafafa;
    --fs: 1.6rem;
    --fs-bold: 700;
    --fs-normal: 400;
    --img-bg: url(/images/bg-desktop-light.jpg);
    --icon-switch: url(/images/icon-moon.svg);
    --img-bg-mobile: url(/images/bg-desktop-light.jpg);
    --mainApp: #fafafa;
    --appShadow: #e4e5f1;
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --font--color: hsl(236, 9%, 61%);
    --hover: hsl(235, 19%, 35%);
    --green: hsl(192, 100%, 67%);
    --pink: hsl(280, 87%, 65%);

}

.dark {
    /* Dark Theme Colors */
    --bg: #171823;
    --icon-switch: url(/images/icon-sun.svg);
    --img-bg: url(/images/bg-mobile-dark.jpg);
    --img-bg-mobile: url(/images/bg-desktop-dark.jpg);
    --VeryDarkBlue: #161722;
    --mainApp: #25273c;
    --LightGrayishBlue: #cacde8;
    --LightGrayishBlue: (hover): hsl(236, 33%, 92%);
    --DarkGrayishBlue: #777a92;
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

/******************************
 * RESET AND GENERAL STYLING *
 ******************************/
html {
    font-size: 62.5%;
    position: relative;
}

img {
    user-select: none;
}

ul {
    list-style: none;
}

html,
body {
    min-height: 100%;
}



body {
    font-size: var(--fs);
    color: var(--font--color);
    font-weight: var(--fs-normal);
    font-family: 'Josefin Sans', sans-serif;
    background: var(--bg) var(--img-bg) no-repeat 0% 0% /100vw 30rem;

    width: min(85%, 54rem);
    margin: auto;
}

body .dark {
    background: var(--bg) var(--img-bg) no-repeat 0% 0% /100vw 30rem;
    color: var(--VeryDarkGrayishBlue);
}

.dark .card {
    background-color: var(--mainApp);
}

.dark .filters__aside {
    background-color: var(--mainApp);

}

/************************
 * GENERAL BUTTON STYLE *
 ************************/
button:hover {
    color: var(--hover);
}

button,
input {
    font: inherit;
    border: 0;
    background: transparent;
    color: var(--font--color);
}

button:focus,
input:focus {
    outline: 0;
}

input button {
    display: flex;
    user-select: none;
}


/****************
* HEADER SECTION *
****************/

.header {
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: flex-start;
    padding: 0;
    margin: 2rem 0;

}


.dark .header {
    background: transparent;
}

header,
.header h1 {
    color: #fafafa;
    letter-spacing: 1rem;
    font-size: calc(var(--fs)*2);
    font-weight: var(--fs-bold);

}

.theme__switcher {
    background: var(--icon-switch) no-repeat;
    background-size: cover;
    padding: 1.3rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem
}


.add {
    margin: 4rem 0 2.5rem 0;
    border-radius: 0.5rem;
}

.add .cb-container #ADD_BTN {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-normal);
    color: var(--font--color);

}

.add .txt-container {
    flex: 1;

}



/****************
 * CARD SECTION *
 ****************/
.card {
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 2rem;
    gap: 2rem;

}

.card .cb-container {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 0.1rem var(--font--color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card .cb-container .cb-input {
    transform: scale(1.8);
    opacity: 0;
}

.card .cb-container .check {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    pointer-events: none;
}

.card .cb-container .cb-input:checked+.check {
    background: url(/todo-app-main/images/icon-check.svg), linear-gradient(45deg, var(--green), var(--pink));
    background-repeat: no-repeat;
    background-position: center;
}



.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.item {
    flex: 1;
}

li {
    border-bottom: solid 0.1rem var(--font--color);

}

/*****************
 * STATS SECTION *
 *****************/
.filters_center .active {
    color: var(--BrightBlue);
}

.filters__aside {
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    border-bottom: var(--mainApp);
    border-left: 1px solid var(--bg);
    border-right: 1px solid var(--bg);
    padding: 2.4rem 2.4rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.filters_center {
    background: var(--mainApp);
    display: inline-block;
    padding: 1.9rem 2.4rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, -100%);
    border-bottom: 1px solid var(--bg);
    border-radius: 5px;
}

/**********
 * FOOTER *
 **********/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attributions a {
    color: var(--BrightBlue);
    cursor: pointer;
    text-decoration: none;
}

/* @MEDIA SECTION */

@media(max-width:738px) {
    html {
        font-size: 40%;
    }



    .dark body {
        background: var(--img-bg-mobile) no-repeat;
    }

    .container {
        background: var(--img-bg-mobile) no-repeat;
        background-size: contain;
        background-position: center;

    }

    .filters_center {
        background: var(--mainApp);
        position: static;
        display: block;
        transform: none;
        text-align: center;
        margin-top: 1rem;
        border: 1px solid var(--bg);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    }

    .filters_center button {
        padding: 0 1rem;
    }

    footer {
        background: transparent;
        margin: 4rem 0;
        padding: 1rem;
    }
}



/* *Quote Erat Demonstrandum
 It's Done
 Zrobione.
 Coded by K.P(Dev);
Current Date: 24.11.2022 */